body
{
    font-family: sans-serif;
    background-color: #110131;
    color: white;
    justify-content: center;
    align-items: center;
}

main
{
    min-height: calc(100vh - 56px - 56px);
}

a{
    text-decoration: none;
    color: #0dcaf0;
}